* {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin: 0px;
  line-height: 150%;
  box-sizing: border-box;
  font-size: 1rem;
}

@media (min-width: 940px) {
  .mobile-display {
    visibility: hidden;
  }
  .desktop-display {
    visibility: visible;
  }
}

@media (max-width: 941px) {
  .mobile-display {
    visibility: visible;
  }
  .desktop-display {
    visibility: hidden;
  }
}

/*
 * Text
 */

h1 {
  font-size: 5rem;
  font-weight: bold;
  margin: 10px auto;
}

h2 {
  margin-left: 3%;
  font-size: 4rem;
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: 1%;
}

h3 {
  margin-left: 3%;
  font-size: 3rem;
  font-weight: 600;
  margin-top: 2%;
  margin-bottom: 1%;
}

h4 {
  font-size: 2.5rem;
  margin-top: 1%;
  font-weight: bold;
}

.normalText {
  font-size: 2rem;
}

.flex {
  flex: 1;
  display: flex;
  flex-wrap: wrap;
  height: 150px;
  border-radius: 15px 0px 0px 15px;
  overflow: auto;
}

.container {
  margin: 10px auto;
  width: 75%;
  padding: 2%;
  border: 2px solid rgb(173, 173, 180); 
}

.player {
  margin: auto;
  width: 100%;  
}

.borderless {
  border-width: 0; 
}

.fixed {
  border-radius: 15px;  
}

.standOut {
  font-size: 2rem;
  font-weight: bold;
}

* .errorMessage {
  font-size: 2rem;
  font-weight: bold;
  color: red;
}

.optionText {
  font-size: 1rem;
}

/*
 * colours
 */

.background-pink {
  background-color: #eb7fb3;
}

.background-blue {
  background-color: #3cded9;
}

.background-light {
  background-color: #000000;
}

.background-dark {
  background-color: #000000;
}

.font-pink {
  color: #DC1E79;
}

.font-blue {
  color: #2dc2bd;
}

.font-light {
  color: white;
}

.font-dark {
  color: black;
}

/*
 * Navbar
 */

.navbar a:hover {
  background-color: #c6d4ff;
  color: black;
}

#nav-placeholder {
  grid-area: 1 / 1 / 2 / 13;
}

.navbar {
  overflow: hidden;
}

.navbar a {
  float: left;
  text-align: center;
  padding: 2% 2%;
  text-decoration: none;
  font-size: 2rem;
}

#loginLink {
  float: right;
}

#logoffLink {
  float: right;
}

/* 
 * Other shared things
 */

.button {
  text-decoration: none;
  text-align: center;
  margin-top: 3%;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 3%;
  padding-right: 3%;
  border-radius: 15px;
  font-size: 2.5rem;
  box-shadow: 5px 5px 10px 2px rgba(55, 53, 53, 0.8);
  border-style: none;
  background-color: #2dc2bd;
}

.button:hover:enabled, .button:focus:enabled {
  color:white;
  background-color: #DC1E79;
  transition: 0.7s;
}

button:disabled,
button[disabled]{
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
}

.textInput {
  margin-top: 3%;
  width: 45%;
  font-size: 2rem;
  padding-top: 1%;
  padding-bottom: 1%;
  padding-left: 2%;
  border-radius: 30px;
}

.formBox {
  border-style: solid;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 5%;
  border-radius: 35px;
}
